<header id="main_header" class="cf">

   	<div class="wrapper_wide">

			<a href="index.html" id="logo">Jamaluna</a>
  		<nav>
  			<ul>

         <% unless user_signed_in? %>

  			      <li><a href="vlogs.html">Channel</a></li>
  			    	<li><a href="#">Facebook</a></li>
  				    <li><a href="#">Instagram</a></li>

              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>

              <li><a href="#">Help</a></li>

        <% else %>
              <li><a href="#">Dashboard</a></li>
              <li><a href="vlogs.html">Channel</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
             <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
             <li><a href="#">Help</a></li>
        <% end %>








  			</ul>
  		</nav>


  		</div>









  	</header>

  	<div id="banner" class="podcasts_banner">

  	 <h1>Discover - Learn - Book</h1>

  	</div>

		<div id="breadcrumbs">







<ul>
    <li><a>Men</a>

        <ul>

					<li><a>Hair cut</a></li>
					<li><a>Massages</a></li>


        </ul>

	   </li>

   <li><a>Women</a></li>
   <li><a>Freelance</a></li>
	 <li><a href="blogs.html">Blogs</a></li>
	 <li><a href="vlogs.html">Vlogs</a></li>

</ul>
</br>


</br>






		</div>


		<div id="breadcrumbs">
		</br>
		</br>
		</br>

			<a href="#" class="subscribe_links">Jamaluna Community</a>

	  </br>
	  </br>
	  </br>




		</div>



		<div id="breadcrumbss">

			<p class="description">
			Download Our App
		</p>
		</br>

		<a href="#" class="subscribe_link">Apple Store</a>
		<a href="#" class="subscribe_link">Google Play</a>
		</br>
		</br>
		</br>
		</br>
		</br>




		</div>



		<footer>

			<h3>contact:</h3>
		</footer>
